body{
    margin: 0;
}
.div1{
    height: 200px;
    width: 200px;
    background-image:linear-gradient(purple,blue,yellow,green);
    border-radius: 50%;
    position: relative;


    /*animation property*/
    animation-name: batch3;
    animation-duration: 5s;
    animation-delay: 3s all;
    animation-iteration-count:infinite;
}
@keyframes batch3{
    0%{
        left:0px;
        top:0px;

    }
    25%{
        left: 400px;
        top: 0px;
        

    }
    50%{
        top: 400px;
        left: 400px;

    }
    75%{
        top: 400px;
        left: 0px;


    }
    100%{
        top: 0px;
        top: 0px;
}
}